@model IEnumerable<mvcSession3.Models.Departamento>

@{
    ViewData["Title"] = "PaginarGrupoDepartamentosSql";
}

<h1>Paginar Grupo Departamentos Sql</h1>
@{ 
    int numeroregistros = (int)ViewData["NUMEROREGISTROS"];
    int numeropagina = 1;
}
<ul class="list-group list-group-horizontal">
    @for (int i = 1; i < numeroregistros; i += 2)
    {
        <li class="list-group-item">
            <a asp-controller="Departamentos" 
               asp-action="PaginarGrupoDepartamentosSql"
               asp-route-posicion="@i">
                @numeropagina
            </a>
        </li>
        numeropagina += 1;

    }
</ul>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localidad)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
